* {
	box-sizing: border-box;
}

.container_frame {
	overflow: auto;
	min-height: 100vh;
	height: auto;
	width: 100vw;
	position: relative;
	left: 0;
}

.container_resume {
	height: 100vh;
	width: 100vw;
	position: relative;
	left: 0;

	overflow: hidden;

	background: url('https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10941840_10153134018024369_1897583145039536199_n.jpg?oh=a634f40728f54dec571936ae77b5a8e2&oe=556539FF&__gda__=1428501418_95aa02e82155ca5721b397db8c6b3f1a') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container_contact {
	height: 100vh;
	width: 100vw;
	position: absolute;
	left: 0;

	overflow: hidden;

	background: url('https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/10933928_10153134017964369_2721470045173838763_n.jpg?oh=a17b160e0142c2c3903eb2801e979e48&oe=556983F9&__gda__=1428659789_47b7eca48d3f0c94ba573d4a8c3407a9') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.name_container {
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 50%;
	height: 40%;

	text-transform: lowercase;
}

.name {
	font-family: 'Raleway', Garamond;
	font-weight: 400;
	text-align: center;
	font-size: 4.5em;
	
	display: none;
}

.links {
	text-align: center;
	display: none;
}

.name_container p {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	text-align: center;

	font-family: 'Raleway', Garamond;
	font-weight: 200;
	text-align: center;
	font-size: 2em;

	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.name_container p:hover {
	color: orange;
	text-decoration: none;
}

.biography {
	overflow: auto;
	display: none;
	
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 60vw;
	height: 70vh;
}

.biography img {
	width: 47%;
	height: 60vh;
	float: left;
	-webkit-filter: brightness(80%);
	-moz-filter: brightness(80%);
	-o-filter: brightness(80%);
	filter: brightness(80%);
}

.biography p {
	width: 47%;
	float: right;

	font-family: 'Raleway', arial;
	font-weight: 300;
	font-size: 1.2em;
}

.biography span {
	font-weight: 500;
}


/*CONTACT PAGE*/

.contact {
	display: none;
	
	position: relative;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 30vh;
	height: 70vh;
	color: #202020;
}

.contact h1 {
	font-family: 'Raleway', arial;
	font-weight: 500;
	margin-bottom: 30px;
}

.contact li {
	list-style: none;
	font-family: 'Raleway';
	font-weight: 300;
	margin: 10px 0px 10px 0px;
}

.button {
	margin: 20px 0px 20px 0px;
	padding: 10px 10px 10px 10px;
	width: 160px;
	float: left;

	background-color: orange;
	border-radius: 5px;
	text-align: center;
	font-family: 'Raleway', arial;
	font-weight: 300;
	color: #202020;
	text-decoration: none;

	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
	transition: 0.4s all ease;
}

.button:hover {
	text-decoration: none;
	color: white;
	box-shadow: 5px 5px 0px #f1c40f;
}

.contact span {
	font-weight: 500;
}

.social_media {
	text-decoration: none;
	color: #202020;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
	transition: 0.4s all ease;
}

.social_media:hover {
	text-decoration: none;
	color: orange;
}

.social_media:active {
	text-decoration: none;
	color: #202020;
}

.contact i {
	font-size: 2em;
}

/* RESUME PAGE */

.resume_sheet {
	display: none;
	
	position: relative;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 70vh;
	height: 100vh;
	background-color: white;
	color: #202020;
}

.resume_sheet h1 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 40px;
	padding-bottom: 30px;
	font-family: 'Raleway', arial;
	text-align: center;
}

.job {
	width: 90%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	position: relative;
	left: 50%;
	font-family: 'Raleway', arial;
	font-weight: 300;
}

.job h3 {
	font-weight: 400;
	color: orange;
}

.job a {
	text-decoration: none;
	color: orange;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
	transition: 0.4s all ease;
}

.job a:hover {
	text-decoration: none;
	color: #202020;
}

/*CULTURE PAGE CAROUSEL*/

#instafeed {
	width: 100w;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20%;
	margin-top: 5%;
	text-align: center;
	font-size: 1.3em;
}

.img {
	position: relative;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	transition: 0.3s all ease;
	width: 500px;
}

/*instagram feed resizing in different viewports*/

@media (min-width: 450px) and (max-width: 680px) {

	.name {
		font-size: 3.5em;
	}

	.links {
		font-size: 0.6em;
	}

	#instafeed {
		font-size: 1em;
	}

	.img {
		width: 350px;
	}


	.biography img {
		width: 80%;
		float: none;
		position: relative;

	}

	.biography p {
		margin-top: 2em;
		width: 80%;
		font-size: 1em;
		float: none;
	}

	.resume_sheet {
		overflow: auto;
		padding: 2.5em 4em 7em 4em;
	}

	p.footer_content {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		bottom: 0;
	}

}

@media (max-width: 449px) {

	.name {
		font-size: 3em;
	}

	.links {
		font-size: 0.6em;
	}

	#instafeed {
		font-size: 1em;
	}

	.img {
		width: 225px;
	}

	.biography img {
		width: 90%;
		height: 60%;
		float: none;
		position: relative;
		left: 50%;
		transform: translateX(-50%);

	}

	.biography p {
		margin-top: 2em;
		width: 90%;
		font-size: 1em;
		float: none;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

	.resume_sheet {
		overflow: auto;
		padding: 2.5em 4em 7em 4em;
	}

	p.footer_content {
		width: 80%;
		font-size: 0.8em;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		bottom: 0;
	}

}

.img:hover {
	-webkit-filter: brightness(50%) grayscale(100%);
}

#instafeed a {
	color: #f1c40f;
	text-decoration: none;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	transition: 0.3s all ease;
}

#instafeed a:hover {
	color: #202020;
	text-decoration: none;
}

#instafeed p {
	margin-bottom: 3%;
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
	color: rgb(90, 90, 90);
}

/* DEFAULT FOR EVERY PAGE */

.open_icon {
	position: absolute;
	right: 10px;
	top: 10px;

	width: 50px;
	height: 50px;
	cursor: pointer;
	font-size: 2em;
}

.open_icon i {
	cursor: pointer;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.open_icon i:hover {
	color: orange;
}

.close_icon {
	position: absolute;
	right: 10px;
	top: 10px;

	width: 50px;
	height: 50px;
	cursor: pointer;
	font-size: 2em;

	display: none;
}

.close_icon i {
	cursor: pointer;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.close_icon i:hover {
	color: orange;
}

.up_icon {
	position: fixed;
	right: 10px;
	bottom: 10px;

	width: 50px;
	height: 50px;
	cursor: pointer;
	font-size: 2em;

	display: none;
}


.sidebar {
	height: 100vh;
	width: 200px;
	float: right;
	background-color: #202020;
	z-index: 10;

	position: fixed;
	bottom: 0;
	right: -200px;
}

.sidebar_nav {
	position: absolute;
	bottom: 0;
	margin-bottom: 0;

	color: white;
	list-style: none;
}

.sidebar_nav li {
	margin-top: 40%;
	margin-bottom: 40%;
}

.sidebar_nav a {
	color: white;
	text-decoration: none;
	font-family: 'Raleway';
	font-size: 1.2em;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.sidebar_nav a:hover {
	text-decoration: none;
	color: orange;
}

.footer {
	height: 40px;
	width: 100vw;

	position: absolute;
	bottom: 0;

	display: none;
}

.footer_content {
	font-family: 'Raleway', Garamond;
	font-weight: 300;
	text-align: center;
	font-size: 1em;

	margin-top: 10px;
}

.footer_content a {
	color: orange;
	font-weight: 300;
}

.footer_content a:hover {
	color: orange;
	font-weight: 300;
}

.footer_content a:visited {
	color: orange;
	font-weight: 300;
	text-decoration: none;
}