* {
	box-sizing: border-box;
}

.container_frame {
	height: 100vh;
	width: 100vw;
	position: absolute;
	left: 0;

	overflow: hidden;
}

.container_resume {
	height: 100vh;
	width: 100vw;
	position: absolute;
	left: 0;

	overflow: hidden;

	background: url('https://scontent-a-sea.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/581422_2486331775349_1830677693_n.jpg?oh=dcab03878e3a0cfccdc9c1e1233ea987&oe=5530D69D') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container_contact {
	height: 100vh;
	width: 100vw;
	position: absolute;
	left: 0;

	overflow: hidden;

	background: url('https://scontent-a-sea.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/426239_2486331975354_1320541713_n.jpg?oh=a71f1577de3c38c32e5898d41ee859a2&oe=556DACF7') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.name_container {
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 50%;
	height: 40%;

	text-transform: lowercase;
}

.name {
	font-family: 'Raleway', Garamond;
	font-weight: 400;
	text-align: center;
	font-size: 4.5em;
	
	display: none;
}

.links {
	text-align: center;
	display: none;
}

.name_container a {
	text-decoration: none;
	color: black;

	font-family: 'Raleway', Garamond;
	font-weight: 200;
	text-align: center;
	font-size: 2em;

	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.name_container a:hover {
	color: orange;
	text-decoration: none;
}

.name_container a:visited {
	text-decoration: none;
}

.biography {
	overflow: auto;
	display: none;
	
	position: relative;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 60vw;
	height: 70vh;
}

.biography img {
	width: 47%;
	height: 60vh;
	float: left;
}

.biography p {
	width: 47%;
	float: right;

	font-family: 'Raleway', arial;
	font-weight: 300;
	font-size: 1.2em;
} 


/*CONTACT PAGE*/

.contact {
	display: none;
	
	position: relative;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 30vh;
	height: 70vh;
	color: #202020;
}

.contact h1 {
	font-family: 'Raleway', arial;
	font-weight: 500;
	margin-bottom: 30px;
}

.contact li {
	list-style: none;
	font-family: 'Raleway';
	font-weight: 300;
	margin: 10px 0px 10px 0px;
}

.button {
	margin: 20px 0px 20px 0px;
	padding: 10px 10px 10px 10px;
	width: 160px;
	float: left;

	background-color: orange;
	border-radius: 5px;
	text-align: center;
	font-family: 'Raleway', arial;
	font-weight: 300;
	color: #202020;
	text-decoration: none;

	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
	transition: 0.4s all ease;
}

.button:hover {
	text-decoration: none;
	color: white;
	box-shadow: 5px 5px 0px #f1c40f;
}

.contact span {
	font-weight: 500;
}

.social_media {
	text-decoration: none;
	color: #202020;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
	transition: 0.4s all ease;
}

.social_media:hover {
	text-decoration: none;
	color: orange;
}

.social_media:active {
	text-decoration: none;
	color: #202020;
}

.contact i {
	font-size: 2em;
}

/* RESUME PAGE */

.resume_sheet {
	display: none;
	
	position: relative;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 70vh;
	height: 100vh;
	background-color: white;
	color: #202020;
}

.resume_sheet h1 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 40px;
	padding-bottom: 30px;
	font-family: 'Raleway', arial;
	text-align: center;
}

.job {
	width: 90%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	position: relative;
	left: 50%;
	font-family: 'Raleway', arial;
	font-weight: 300;
}

.job h3 {
	font-weight: 400;
	color: orange;
}

.job a {
	text-decoration: none;
	color: orange;
	-webkit-transition: 0.4s all ease;
	-moz-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
	transition: 0.4s all ease;
}

.job a:hover {
	text-decoration: none;
	color: #202020;
}

/* DEFAULT FOR EVERY PAGE */

.open_icon {
	position: absolute;
	right: 10px;
	top: 10px;

	width: 50px;
	height: 50px;
	cursor: pointer;
	font-size: 2em;
}

.open_icon i {
	cursor: pointer;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.open_icon i:hover {
	color: orange;
}

.close_icon {
	position: absolute;
	right: 10px;
	top: 10px;

	width: 50px;
	height: 50px;
	cursor: pointer;
	font-size: 2em;

	display: none;
}

.close_icon i {
	cursor: pointer;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.close_icon i:hover {
	color: orange;
}


.sidebar {
	height: 100vh;
	width: 200px;
	float: right;
	background-color: #202020;
	z-index: 10;

	position: fixed;
	top: 0;
	right: -200px;
}

.sidebar_nav {
	position: absolute;
	top: 40%;

	color: white;
	list-style: none;
}

.sidebar_nav li {
	margin-top: 40%;
	margin-bottom: 40%;
}

.sidebar_nav a {
	color: white;
	text-decoration: none;
	font-family: 'Raleway';
	font-size: 1.2em;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.sidebar_nav a:hover {
	text-decoration: none;
	color: orange;
}

.footer {
	height: 40px;
	width: 100vw;

	position: absolute;
	bottom: 0;

	display: none;
}

.footer_content {
	font-family: 'Raleway', Garamond;
	font-weight: 200;
	text-align: center;
	font-size: 1em;

	margin-top: 10px;
}

.footer_content a {
	color: orange;
	font-weight: 300;
}

.footer_content a:hover {
	color: orange;
	font-weight: 300;
}

.footer_content a:visited {
	color: orange;
	font-weight: 300;
	text-decoration: none;
}